.pokemon-card-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 300px;

  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 4px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;

  box-sizing: border-box;

  .image {
    width: 150px;
  }
}
